html,
body {
  height: 100%;
}

body {
  background-color: #333;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

.farSide {
  text-align: right;
}

html[dir="RTL"] .farSide {
  text-align: left;
}

/* Buttons */

button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}

button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}

button.primary>img {
  opacity: 1;
}

button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}

button:hover>img {
  opacity: 1;
}

button:active {
  border: 1px solid #888 !important;
}

button:hover {
  box-shadow: 2px 2px 5px #888;
}

button.disabled:hover>img {
  opacity: 0.6;
}

button.disabled {
  display: none;
}

button.notext {
  font-size: 10%;
}

h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}
/* Tabs */

#tabRow>td {
  border: 1px solid #ccc;
  border-bottom: none;
}

td.tabon {
  border-bottom-color: #ddd !important;
  background-color: #ddd;
  padding: 5px 19px;
}

td.taboff {
  cursor: pointer;
  padding: 5px 19px;
}

td.taboff:hover {
  background-color: #eee;
}

td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}

td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}

html[dir=rtl] td.tabmax {
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}

td {
  padding: 0;
  vertical-align: middle;
}

.content {
  visibility: hidden;
  margin: 0;
  padding: 1ex;
  position: absolute;
  direction: ltr;
}

pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
  padding:20px;
  font-size:15px;
}

#content_blocks {
  padding: 0;
}

.blocklySvg {
  border-top: none !important;
}

#content_xml {
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: monospace;
  overflow: scroll;
}

#languageMenu {
  vertical-align: top;
  margin-top: 15px;
  margin-right: 15px;
}
/* Buttons */

button {
  padding: 1px 5px;
  margin: 1px 5px;
}
/* Sprited icons. */

.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(../media/icons.png);
}

.trash {
  background-position: 0px 0px;
}

.link {
  background-position: -21px 0px;
}

.run {
  background-position: -42px 0px;
}

.demo {
  background-position: -61px 0px;
}

header{
  width:100%;
  height:80px;
  min-width:200px;
  background-image:linear-gradient(top,#000 0%,#333 100%);
  background-image:-moz-linear-gradient(top,#000 0%,#333 100%);
  background-image:-webkit-linear-gradient(top,#000 0%,#333 100%);
}
header .logo{
  position:relative;
  margin:24px 5px 0 30px;
}
header h1{
  vertical-align: top;
  display:inline-block;
  margin:0;
  padding:32px 0 0;
  color:#fff;
}
header span{
  vertical-align: top;
  display:inline-block;
  padding:36px 5px 0;
  color:#999;
  font-size:16px;
}
header span a{
  transition:.3s;
  color:#999;
}
header span a:hover{
  color:#fa0;
}
#languageMenu{
  position:absolute;
  right:0;
  top:12px;
  font-size:14px;
  background:#444;
  outline:none;
  border:none;
  color:#aaa;
  height:32px;
  width:100px;
  transition:.3s;
}
#languageMenu:hover{
  color:#fff;
}
#update{
  position:absolute;
  color:#555;
  font-size:12px;
  right:15px;
  top:5px;
}
table.nav{
  width:calc(100% - 30px);
  min-width:800px!important;
  height:calc(100vh - 95px);
  margin:0 auto;
}
table.nav td{
  background:#fff;
}
table.nav td.tabmax, table td.tabmin{
  background-color:#333;
}
table.nav td.tabmax{
  padding-right:0;
}
table.nav td.tabmax button{
  margin:-3px 0 4px;
  padding:3px 12px;
  outline:none;
  cursor:pointer;
  transition:.2s;
  opacity:.9;
  vertical-align: bottom;
}
table.nav td.tabmax button img{
  opacity:.8;
}
table.nav td.tabmax button:hover{
  box-shadow:none;
  opacity:1;
}
table.nav td.tabmax button:active{
  opacity:.7;
  border:1px solid rgba(0,0,0,0)!important;
}
table.nav table{
  height:auto;
  width:100%;
}
table.nav td.tabon{
  background:#ddd;
}
td#copyCode{
  background-image:linear-gradient(top,#ddd 0%,#fff 100%);
  background-image:-moz-linear-gradient(top,#ddd 0%,#fff 100%);
  background-image:-webkit-linear-gradient(top,#ddd 0%,#fff 100%);
  cursor:pointer;
}
td#copyCode.zeroclipboard-is-hover{
  position:relative;
  background:#fff;
  cursor:pointer;
}
td#copyCode.zeroclipboard-is-hover.zeroclipboard-is-active{
  background:#eee;
  cursor:pointer;
}
td#copyCode.zeroclipboard-is-hover:before{
  content:'';
  position:absolute;
  display:block;
  z-index:10;
  width:0;
  height:0;
  border-width:3px 7px;
  border-color:transparent rgba(255,255,255,.3) transparent transparent;
  border-style:solid;
  top:6px;
  left:26px;
}
td#copyCode.zeroclipboard-is-hover:after{
  content:attr(data-tooltip);
  position:absolute;
  display:block;
  z-index:10;
  background:rgba(255,255,255,.3);
  top:0;
  left:40px;
  border-radius:3px;
  color:#ddd;
  font-size:12px;
  padding:5px;
  white-space:nowrap;
  font-family:'verdana';
}
td#copyCode div{
  width:30px;
  padding:5px 0;
  text-align: center;
  height:100%;
  font-size:14px;
  pointer-events: none;
}
.blocklyToolboxDiv{
  box-shadow: rgba(0,0,0,.3) 2px 5px 5px;
}
.blocklyToolboxDiv::-webkit-scrollbar {
  width:8px;
}
.blocklyToolboxDiv::-webkit-scrollbar-track {
  background:#ddd;
  border-radius: 5px;
}
.blocklyToolboxDiv::-webkit-scrollbar-thumb {
  background:#bbb;
  border-radius: 5px;
}
#indexLinkToBin{
  display:inline-block;
  font-size:16px;
  height:29px;
  color:#000;
  background:#ddd;
  transition:.3s;
  border-radius:5px;
  margin:-7px 0 4px;
  box-sizing:border-box;
  padding:5px 13px;
  vertical-align: bottom;
}
#indexLinkToBin img{
  height:17px;
  margin-bottom:-2px;
  margin-right:3px;
}
#indexLinkToBin:link{
  color:#000;
  text-decoration: none;
}
#indexLinkToBin:hover{
  background:#fff;
}
#indexLinkToBin:active{
  opacity:.8;
}

/* demo area */
#demo-area{
  display:none;
  z-index:99;
  position:absolute;
  right:40px;
  top:135px;
  width:400px;
  min-width:225px;
  max-width:70%;
  background:rgba(255,255,255,.8);
  border-radius:20px;
  border:10px solid #ccc;
  transition:opacity .3s;
}
#demo-area.show{
  display:block;
}
#demo-resize-bar{
  height:calc(100% - 40px);
  width:10px;
  background:#ccc;
  position:absolute;
  left:-10px;
  top:20px;
  cursor:col-resize;
}
#demo-area.resize{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#demo-area .demo-area-content{
  position:relative;
  overflow:auto;
  width:100%;
  height:100%;
  padding:0 20px 20px;
  box-sizing:border-box;
}
#demo-area .demo-area-content .close-btn{
  position:absolute;
  right:5px;
  top:5px;
  width:22px;
  height:22px;
  background:#fff;
  background-image:url(../media/icons.png);
  background-position: -82px 0px;
  opacity:0.4;
  transition:.3s;
  cursor:pointer;
}
#demo-area .demo-area-content .close-btn:hover{
  opacity:1;
}
#demo-area .demo-area-content>h4{
  font-size:20px;
  margin:25px 0 15px;
}
#demo-area .demo-area-content>span{
  display:inline-block;
  font-size:16px;
  line-height: 24px;
  margin:0 0 10px;
}
#demo-area .demo-area-content select{
  outline:none;
  border:1px solid #ccc;
  margin:0 0 15px;
  font-size:16px;
}
#demo-area .demo-area-content .da{
  display:none;
  line-height:20px;
}
#demo-area .demo-area-content .da.show{
  display:block;
}
#demo-area .demo-area-content h5{
  font-size:16px;
}
#demo-area .demo-area-content .demo-pre{
  background:#eee;
  padding:10px;
  overflow: auto;
}
#demo-area-01-show{
  font-size:60px;
}
#demo-area-02-light img{
  height:200px;
  display:none;
}
#demo-area-02-light.on #demo-area-02-on{
  display:inline-block;
}
#demo-area-02-light.off #demo-area-02-off{
  display:inline-block;
}
#demo-area-03-container{
  position:relative;
  width:150px;
  height:150px;
}
#demo-area-03-image{
  position:absolute;
  top:0;
  left:0;
  width:150px;
  height:150px;
  transition:.3s;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  transform-origin:75px 75px;
  -webkit-transform-origin:75px 75px;
  -moz-transform-origin:75px 75px;
}
#demo-area-04-area{
  width:90%;
  height:150px;
  background:#ccc;
}
#demo-area-05 .db5{
  font-size:24px;
  outline:none;
  margin:0 10px 10px 0;
}
