table#tutorials-table.nav{
  width:68%;
  margin:0 auto 0 15px;
}
table.nav{
  min-width:500px!important;
}
#demoArea{
  position:absolute;
  right:15px;
  bottom:15px;
  width:calc(32% - 40px);
  height:calc(100% - 126px);
  padding:20px;
  background:#fff;
  box-sizing:border-box;
  border-radius:0 0 100px 0;
}
#demoTitle{
  position:absolute;
  top:-33px;
  left:0;
  font-size:16px;
  background:#fff;
  padding:8px 20px;
  border-bottom:1px solid #ddd;
}
#demoDescription{
	line-height:22px;
	margin:0 0 10px;
}
#title,#subTitle{
  font-size:20px;
}
#linkToBin{
  position:absolute;
  top:-35px;
  right:0px;
  font-size:16px;
  padding:6px 15px 8px;
  color:#000;
  background:#ddd;
  transition:.3s;
  border-radius:5px;
}
#linkToBin img{
  height:18px;
  margin-bottom:-4px;
  margin-right:3px;
}
#linkToBin:link{
  color:#000;
  text-decoration: none;
}
#linkToBin:hover{
  background:#fff;
}
#cuteman01{
  display:block;
  position:absolute;
  bottom:-15px;
  right:-5px;
  width:160px;
  height:103px;
  background:url(../media/cuteman01.png);
  background-size:cover;
  cursor:pointer;
}