body {
  margin: 0 0 30px;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 0 auto 10px;
  padding: 40px 0;
  width: 100%;
  background-image: linear-gradient(top, #000 0%, #333 100%);
  background-image: -moz-linear-gradient(top, #000 0%, #333 100%);
  background-image: -webkit-linear-gradient(top, #000 0%, #333 100%);
  text-align: center;
  color: #fff;
}

.logo {
  position: relative;
  margin: 0 10px -5px 0;
}

h2 {
  max-width: 800px;
  width: 80%;
  margin: 40px auto 10px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 30px auto 10px;
  color: #d50;
  max-width: 800px;
  width: 80%;
  clear: both;
}

ul {
  margin: 0 auto;
  padding-left: 0;
  color: #ccc;
  max-width: 800px;
  width: 80%;
  display:table;
}

li {
  display: block;
  width: 100%;
  margin: 0 0 5px;
}

li h4 {
  display: block;
  line-height: 30px;
  margin: 0 10px 0 0;
  font-size: 20px;
  color: #000;
  max-width: 700px;
  width: calc( 100% - 200px);
  font-weight: normal;
  float: left;
}

li a {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
}

li a:hover {
  color: #999;
}

li h4 a {
  color: #000;
  padding-bottom: 3px;
  border-bottom: 1px dotted #999;
  font-size: 20px;
}
li h4 i{
  position:relative;
  font-style: normal;
  font-weight: normal;
  display:inline-block;
  padding:1px 4px 2px 2px;
  background:#f00;
  color:#fff;
  font-size:12px;
  line-height: 12px;
  font-family: 'arial';
  margin-left:10px;
  margin-top:8px;
  vertical-align: top;
  animation:ai 1s infinite;
  -moz-animation:ai 1s infinite;
  -webkit-animation:ai 1s infinite;
}
@keyframes ai{
  0%{
    margin-left:10px;
  }
  50%{
    margin-left:14px;
  }
}
@-moz-keyframes ai{
  0%{
    margin-left:10px;
  }
  50%{
    margin-left:14px;
  }
}
@-webkit-keyframes ai{
  0%{
    margin-left:10px;
  }
  50%{
    margin-left:14px;
  }
}
li h4 i:before{
  content:'';
  position:absolute;
  top:0;
  left:-6px;
  width:0;
  height:0;
  border-style:solid;
  border-width:7px 6px 8px 0;
  border-color:transparent #f00 transparent transparent;
}

li h4 a:hover {
  color: #f90;
}

li div {
  width: 200px;
  float: right;
  text-align: right;
  margin-top:-25px;
  margin-bottom:15px;
}

@media (max-width: 800px) {
  h1 span {
    display: block;
  }
  h4 {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
  li {
    padding-bottom: 10px;
  }
}
