<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly - 切換音樂，用蜂鳴器播放</title>
  <!-- webduino -->
  <script src="/lib/webduino-all.min.js"></script>
  <script src="/lib/webduino-blockly.js"></script>
  <script src="/lib/runtime.min.js"></script>
</template>
<template id="body">
  <button id="m1">music 1</button>
  <button id="m2">music 2</button>
  <button id="m3">music 3</button><br/>
  <button id="stop">stop</button>
</template>
<template id="css">
button {
  font-size: 24px;
  padding: 10px;
  margin: 5px;
}
</template>
