<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title  data-translation="title">Webduino Blockly - 繪製溫濕度圖表</title>
  <!-- webduino -->
  <script src="/lib/webduino-all.min.js"></script>
  <script src="/lib/webduino-blockly.js"></script>
  <script src="/lib/runtime.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</template>
<template id="body">
  <div id="show">
    <span data-translation="temperature">溫度：</span><span id="temperature">0</span>℃<br>
    <span data-translation="humidity">濕度：</span><span id="humidity">0</span> %<br>
    <br>
    <div id="chart_div1" style="height: 120px; display:inline-block;"></div>
    <div id="chart_div2" style="height: 120px; display:inline-block;"></div>
    <div id="chart_div" style="width: 100%; height: 400px;"></div>
  </div>
</template>
<template id="css">
#show {
  font-size: 30px;
  line-height: 40px;
}

#show b {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin-top: -10px;
}
</template>
