<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly - 接收紅外線訊號改變區域顏色 </title>
  <!-- webduino -->
  <script src="/lib/webduino-all.min.js"></script>
  <script src="/lib/webduino-blockly.js"></script>
  <script src="/lib/runtime.min.js"></script>
</template>
<template id="body">
  <div id="show">
    <span data-translation="code"></span>
    <span id="code"></span>
  </div>
  <div id="area"></div>
</template>
<template id="css">
#show {
  font-size: 30px;
}

#area {
  width: 100px;
  height: 100px;
  background: #ccc;
}
</template>
