<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly - 點選按鈕切換點矩陣效果</title>
  <!-- webduino -->
  <script src="/lib/webduino-all.min.js"></script>
  <script src="/lib/webduino-blockly.js"></script>
  <script src="/lib/runtime.min.js"></script>
</template>
<template id="body">
  <p><a href="http://webduinoio.github.io/demo/max7219/" target="_blank" data-translation="generatorTitle"></a></p>
  <button id="btn1" data-translation="btn1">按鈕 1</button>
  <button id="btn2" data-translation="btn2">按鈕 2</button>
  <button id="btn3" data-translation="btn3">按鈕 3</button><br/>
  <button id="btnStop" data-translation="btnStop">停止動畫</button>
  <button id="btnOff" data-translation="btnOff">關閉</button>
</template>
<template id="css">
button {
  font-size: 16px;
  margin: 5px;
  padding: 10px;
}
</template>
