<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly - 三色 LED 燈調色盤</title>
  <!-- webduino -->
  <script src="https://webduino.io/components/webduino-js/dist/webduino-all.min.js"></script>
  <script src="https://blockly.webduino.io/webduino-blockly.js"></script>
  <script src="https://blockly.webduino.io/lib/runtime.min.js"></script>
</template>
<template id="body">
  <span style="color:red;" data-translation="red">RED:</span><input type="range" min="0" max="255" step="5" value="0" id="redRange">
  <br/>
  <span style="color:green;" data-translation="green">GREEN:</span><input type="range" min="0" max="255" step="5" value="0" id="greenRange">
  <br/>
  <span style="color:blue;" data-translation="blue">BLUE:</span><input type="range" min="0" max="255" step="5" value="0" id="blueRange">
  <div id="show"></div>
</template>
<template id="css">
span {
  display: inline-block;
  width: 60px;
  margin: 5px;
  outline:  none;
}

input {
  display: inline-block;
  width: 80%;
  max-width: 200px;
  margin: 5px;
  outline:  none; 
}

#show {
  width: 80%;
  height: 150px;
  border: 1px solid #000;
  background: #000;
  margin: 15px 5px;
}
</template>
