<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly - 超音波傳感器改變音量大小</title>
  <!-- webduino -->
  <script src="/lib/webduino-all.min.js"></script>
  <script src="/lib/webduino-blockly.js"></script>
  <script src="/lib/runtime.min.js"></script>
</template>
<template id="body">
  <div id="show">0</div>
  <div id="volume"></div>
  <audio id="music" loop="loop" value="1">
</template>
<template id="css">
#show {
  font-size: 30px;
  margin-bottom: 10px;
}

#volume {
  transition: .3s;
  height: 30px;
  width: 10px;
  background: rgba(0, 255, 0, 1);
}
</template>
