<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly 課程 4-5：點擊按鈕開關控制 Youtube</title>  
  <!-- webduino -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/webduino-all.min.js"></script>
  <script src="js/MessageTransport.js"></script>
  <script src="js/webduino-blockly.js"></script>
  <script src="js/runtime.min.js"></script>
</template>
<template id="body">
  <div id="show">text</div>
  <div id="player"></div>
</template>
<template id="css">
#show {
  font-size: 60px;
}
</template>
