<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly - 超音波傳感器控制 Youtube 播放速度</title>    
  <!-- webduino -->
  <script src="js/webduino-all.min.js"></script>
  <script src="js/MessageTransport.js"></script>
  <script src="js/webduino-blockly.js"></script>
  <script src="js/runtime.min.js"></script>
</template>
<template id="body">
  <div id="player"></div>
</template>
<template id="css"></template>
