<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title"></title> 
  <!-- webduino -->
  <script src="js/webduino-all.min.js"></script>
  <script src="js/MessageTransport.js"></script>
  <script src="js/webduino-blockly.js"></script>
  <script src="js/runtime.min.js"></script>
</template>
<template id="body">
  <div>
    <select id="select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>  
    </select>
  </div>
</template>
<template id="css">
#select {
  font-size: 28px;
}
</template>
