<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title data-translation="title">Webduino Blockly - 蜂鳴器播放音樂</title>
  <!-- webduino -->
  <script src="https://webduino.io/components/webduino-js/dist/webduino-all.min.js"></script>
  <script src="components/webduino-js/src/transport/MessageTransport.js"></script>  
  <script src="https://blockly.webduino.io/webduino-blockly.js"></script>
  <script src="https://blockly.webduino.io/lib/runtime.min.js"></script>
</template>
<template id="body">
  <div id="show">
    <p>
      <span data-translation="notes">音符：</span><span id="buzzerNotes"></span>
    </p>
    <p>
      <span data-translation="tempos">節奏：</span><span id="buzzerTempos"></span>
    </p>
  </div>
</template>
<template id="css"></template>
