<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Webduino Blockly Demo 06</title>
  <!-- webduino -->
  <script src="https://webduino.io/components/webduino-js/dist/webduino-all.min.js"></script>
  <script src="https://webduinoio.github.io/webduino-blockly/webduino-blockly.js"></script>
</template>
<template id="body">
  數值：<span id="demo-area-06-input-value">90</span><br>
  拉霸：<input type="range" min="0" max="180" step="5" value="90" id="demo-area-06-input">
</template>
