<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Webduino Blockly Demo 03</title>
  <script src="/lib/jquery-1.9.1.min.js"></script>
  <script src="/lib/webduino-all.min.js"></script>
  <script src="/lib/webduino-blockly.js"></script>
  <script src="/lib/firebase.js"></script>
  <script src="/lib/runtime.min.js"></script>
</template>
<template id="css">
#demo-area-03-container {
  position: relative;
  width: 150px;
  height: 150px;
  pointer-events: auto!important;
}

#demo-area-03-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transform-origin: 75px 75px;
  -webkit-transform-origin: 75px 75px;
  -moz-transform-origin: 75px 75px;
  pointer-events: auto!important;
}
</template>
<template id="body">
  <div id="demo-area-03-container">
    <img src="http://blockly.webduino.io/media/webduino-logo.jpg" id="demo-area-03-image">
  </div>
</template>
