<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Webduino Blockly Demo 04</title>
  <script src="/lib/jquery-1.9.1.min.js"></script>
  <script src="/lib/webduino-all.min.js"></script>
  <script src="/lib/webduino-blockly.js"></script>
  <script src="/lib/firebase.js"></script>
  <script src="/lib/runtime.min.js"></script>
</template>
<template id="css">
#demo-area-04-area {
  margin-top: 10px;
  width: 90%;
  height: 150px;
  background: #ccc;
  pointer-events: auto!important;
}
</template>
<template id="body">
  <span data-translation="demoAreaColor">選擇顏色：</span><input id="demo-area-04-color" type="color">
  <div id="demo-area-04-area"></div>
</template>
