<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Webduino Blockly Demo 06</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://webduino.io/components/webduino-js/dist/webduino-all.min.js"></script>
  <script src="../js/MessageTransport.js"></script>
  <script src="https://blockly.webduino.io/webduino-blockly.js"></script>
  <script src="https://blockly.webduino.io/lib/firebase.js"></script>
  <script src="https://blockly.webduino.io/lib/runtime.min.js"></script>
</template>
<template id="css">
#demo-area-06-input {
  pointer-events: auto!important;
}
</template>
<template id="body">
  <span data-translation="demoAreaSliderValue">數值：</span><span id="demo-area-06-input-value">90</span><br>
  <span data-translation="demoAreaSlider">拉霸：</span><input type="range" min="0" max="180" step="5" value="90" id="demo-area-06-input">
</template>
