<html>

<head>
  <script src="components/webcomponentsjs/webcomponents.js"></script>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <link rel="import" href="js/uicomponents/ui-led/ui-led.html">
  <link rel="import" href="js/uicomponents/ui-rgbled/ui-rgbled.html">
  <link rel="import" href="js/uicomponents/ui-servo/ui-servo.html">
  <link rel="import" href="js/uicomponents/ui-matrix/ui-matrix.html">
  <link rel="import" href="js/uicomponents/ui-btn/ui-btn.html">
  <script src="js/engine/setImmediate.js"></script>
  <script src="js/engine/paho.js"></script>
  <script src="js/engine/webduino.js"></script>
  <script src="js/engine/core/EventEmitter.js"></script>
  <script src="js/engine/core/util.js"></script>
  <script src="js/engine/util/promisify.js"></script>
  <script src="js/engine/core/Transport.js"></script>
  <script src="js/engine/core/Pin.js"></script>
  <script src="js/engine/core/Module.js"></script>
  <script src="js/engine/core/Board.js"></script>
  <script src="js/engine/core/WebArduino.js"></script>
  <script src="js/engine/core/Arduino.js"></script>
  <!-- Engine -->
  <script src="js/engine/components/Engine.js"></script>
  <script src="js/engine/components/Led.js"></script>
  <script src="js/engine/components/RGBLed.js"></script>
  <script src="js/engine/components/Buzzer.js"></script>
  <script src="js/engine/components/Servo.js"></script>
  <script src="js/engine/components/Matrix.js"></script>
  <script src="js/engine/transport/MqttTransport.js"></script>
  <script src="js/engine/transport/WebSocketTransport.js"></script>
  <style>
  ui-led {
    float: left;
  }
  
  ui-rgbled {
    float: left;
  }
  
  ui-servo {
    float: left;
  }
  
  ui-matrix {
    float: left;
  }
  </style>
  <script>
  var uiSetting = {
    id: "05O0",
    type: "WebArduino",
    connector: [{
      name: "buzzer",
      type: "Buzzer",
      signal: 2,
      gnd: "gnd"
    }, {
      name: "servo",
      type: "Servo",
      signal: 3,
      gnd: "gnd"
    }, {
      name: "btn",
      type: "Btn",
      signal: 4,
      gnd: "gnd"
    }, {
      name: "servo2",
      type: "Servo",
      signal: 5,
      gnd: "gnd"
    }, {
      name: "rgbLed",
      type: "RGBLed",
      signalRed: 6,
      signalGreen: 7,
      signalBlue: 8,
      vcc: "vcc"
    }, {
      name: "matrix",
      type: "Matrix",
      vcc: "vcc",
      gnd: "gnd",
      din: 9,
      cs: 10,
      clk: 11
    }, {
      name: "led2",
      type: "Led",
      signal: 12,
      gnd: "gnd"
    }, {
      name: "led3",
      type: "Led",
      signal: 13,
      gnd: "gnd"
    }]
  };

  var engine = new Engine();

  engine.action(function(actionJSON) {
    console.log("engine callback:", actionJSON);
    var list = actionJSON.action.connector;
    for (var i in list) {
      if (list[i].type == 'Led') {
        getEle(list[i].name).intensity(list[i].intensity);
      }
      if (list[i].type == 'RGBLed') {
        var rgbled = getEle(list[i].name);
        rgbled.rgb(list[i]);
      }
      if (list[i].type == 'Servo') {
        var servo = getEle(list[i].name);
        var deg = parseInt(list[i].intensity * 255);
        servo.degree(deg);
      }
      if (list[i].type == 'Matrix') {
        //console.log("list[i]",list[i]);
        var matrix = getEle(list[i].name);
        matrix.print(list[i].data);
      }
    }
  });

  engine.start({
      create: uiSetting
    },
    function() {
      console.log("Board Ready...");
      var list = uiSetting.connector;
      for (var i in list) {
        if (list[i].type == 'Led') {
          console.log("list[i].name", list[i].name);
          createTag("ui-led", list[i].name).pin(list[i].signal);
        }
        if (list[i].type == 'Btn') {
          console.log("Btn list[i].name", list[i].name, list[i]);
          var btn = createTag("ui-btn", list[i].name);
          btn.pin(list[i].signal);
          btn.setEngine(engine);
        }
        if (list[i].type == 'RGBLed') {
          console.log("list[i].name", list[i].name);
          createTag("ui-rgbled", list[i].name).pin(list[i].signalRed, list[i].signalGreen, list[i].signalBlue);
        }
        if (list[i].type == 'Servo') {
          console.log("list[i].name", list[i].name);
          createTag("ui-servo", list[i].name).pin(list[i].signal);
        }
        if (list[i].type == 'Matrix') {
          console.log("list[i].name", list[i].name);
          createTag("ui-matrix", list[i].name).pin(list[i].din, list[i].cs, list[i].clk);
        }
      }
    });

  function getEle(name) {
    return document.querySelector("#" + name);
  }

  function createTag(tagName, id) {
    var iDiv = document.createElement(tagName);
    iDiv.id = id;
    document.getElementsByTagName('body')[0].appendChild(iDiv);
    return iDiv;
  }
  </script>
</head>

<body>
</body>

</html>