<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="webduino.ico" type="image/x-icon">
  <!-- build:css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet/less" type="text/css" href="css/less/index.less" />
  <script src="components/less/dist/less.min.js" data-ignore="true"></script>
  <!-- endbuild -->
</head>

<body class="initialize">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <i class="glyphicon glyphicon-hand-up"></i>
          <span data-i18n="navbar.brand"></span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-left">
          <button type="button" class="btn btn-default navbar-btn" v-on:click="historyBack" :disabled="isPlaying" data-toggle="tooltip" data-placement="bottom" data-i18n="[data-myTitle]navbar.preStep">
            <i class="glyphicon glyphicon-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-default navbar-btn" v-on:click="historyForward" :disabled="isPlaying" data-toggle="tooltip" data-placement="bottom" data-i18n="[data-myTitle]navbar.nextStep">
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
          <button type="button" class="btn btn-default navbar-btn" v-on:click="deleteSomething" :disabled="isPlaying" data-toggle="tooltip" data-placement="bottom" data-i18n="[data-myTitle]navbar.remove">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <button type="button" class="btn btn-default navbar-btn" v-on:click="zoomToFit" :disabled="isPlaying" data-toggle="tooltip" data-placement="bottom" data-i18n="[data-myTitle]navbar.zoomToFit">
            <i class="glyphicon glyphicon-screenshot"></i>
          </button>
          <button type="button" class="btn btn-default navbar-btn" v-on:click="refresh" :disabled="isPlaying" data-toggle="tooltip" data-placement="bottom" data-i18n="[data-myTitle]navbar.removeAll">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
          <button type="button" class="btn btn-default navbar-btn" id="menu-toggle" v-on:click="menuToggle" :disabled="isPlaying" data-i18n="navbar.components"></button>
        </div>
        <div class="navbar-right margin-fixed hidden">
          <select id="lang" class="selectpicker hidden" data-container="body" data-width="auto">
            <option value="en" data-i18n="language.en"></option>
            <option value="zh-tw" data-i18n="language.zh-tw"></option>
            <option value="zh-cn" data-i18n="language.zh-cn"></option>
          </select>
          <button type="button" class="btn btn-default navbar-btn hidden" :class="{ play: isPlaying, stop: !isPlaying }" v-on:click="engineToggle">
            <i class="glyphicon glyphicon-play" v-show="!isPlaying" data-toggle="tooltip" data-placement="bottom" data-i18n="[data-myTitle]navbar.start"></i>
            <i class="glyphicon glyphicon-stop" v-show="isPlaying" data-toggle="tooltip" data-placement="bottom" data-i18n="[data-myTitle]navbar.stop"></i>
          </button>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div id="wrapper" v-bind:class="{ toggled: isComponentsVisible, dragging: dragging }">
    <div id="sidebar">
      <div class="container-fluid">
        <div class="row components-container" v-html="components"></div>
      </div>
    </div>
    <!--/#Sidebar -->
  </div>
  <div class="container-fluid">
    <svg id="editArea">
      <g class="zoom-container">
        <g class="components-area"></g>
        <g class="path-container"></g>
        <g class="edit-content"></g>
      </g>
    </svg>
    <!-- /svg -->
  </div>
  <!-- /.container -->

  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-sm" v-on:keydown.stop v-on:keyup.stop v-on:keydown.enter.prevent>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" data-i18n="propertyModal.close"></span></button>
          <h4 class="modal-title" data-i18n="propertyModal.title"></h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="property-deviceId" class="control-label" data-i18n="propertyModal.deviceId"></label>
              <input type="text" class="form-control" id="property-deviceId" v-model="deviceId" v-on:keydown.enter="save" autofocus>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="propertyModal.close"></button>
          <button type="button" class="btn btn-primary" v-on:click="save" data-i18n="propertyModal.save">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- vue -->
  <div id="app"></div>

  <!-- build:js -->
  
  <!-- other -->
  <script src="components/vue/dist/vue.min.js"></script>
  <script src="components/d3/d3.min.js"></script>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="components/Snap.svg/dist/snap.svg-min.js"></script>
  <script src="components/moment/min/moment.min.js"></script>
  <script src="components/i18next/i18next.min.js"></script>
  <script src="components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
  <script src="components/jquery-i18next/jquery-i18next.min.js"></script>
  <script src="components/defiant/dist/defiant.min.js"></script>
  
  <!-- Engine -->
  <script src="components/webduino-js/dist/webduino-base.js"></script>
  <script src="js/engine/core/Board.js"></script>
  <script src="js/engine/transport/MqttTransport.js"></script>
  <script src="js/engine/transport/MessageTransport.js"></script>
  <script src="components/webduino-js/src/core/WebArduino.js"></script>  
  <script src="js/engine/components/Engine.js"></script>
  <script src="js/engine/components/Led.js"></script>
  <script src="js/engine/components/RGBLed.js"></script>
  <script src="js/engine/components/Buzzer.js"></script>
  <script src="js/engine/components/Servo.js"></script>
  <script src="js/engine/components/Matrix.js"></script>
  <script src="js/engine/components/UltraSonic.js"></script>

  <!-- ui -->
  <script src="js/roundedCorner.js"></script>
  <script src="js/components/arduino-uno.js"></script>
  <script src="js/components/led.js"></script>
  <script src="js/components/servo.js"></script>
  <script src="js/components/matrix.js"></script>
  <script src="js/components/rgbled.js"></script>
  <script src="js/components/button.js"></script>
  <script src="js/components/buzzer.js"></script>
  <script src="js/components/ultrasonic.js"></script>
  <script src="js/components/hand.js"></script>
  <script src="js/history.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/interact.js"></script>
  <script src="js/navbar.js"></script>
  <script src="js/zoom.js"></script>
  <script src="js/drawPath.js"></script>
  <script src="js/editPath.js"></script>
  <script src="js/editPath2.js"></script>
  <script src="js/dndComponent.js"></script>
  <script src="js/focusPoint.js"></script>
  <script src="js/connectPoint.js"></script>
  <script src="js/index.js"></script>
  <script src="js/blockly.js"></script>
  <!-- endbuild -->
</body>

</html>
